// Colors
// $primary: #FE5F1E;
$primary: #00704A;
// $primary-hover: #b23301;
$primary-hover: #006400;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
// $red:#f50707;
$red:#006400;

// Transition 
$smooth: all .3s ease-in-out;